:root {
    /* change the values below to your colors from your palette */
    --primary-color: #BF8B67;
    --secondary-color: #DACC96;
    --accent1-color: #FF7272;
    --accent2-color: #000B49;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Mate SC', serif;
    --paragraph-font: 'Hind', sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --paragraph-color-on-white: black; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #632626; /* paragraph text on a colored background */ 
    --paragraph-background-color: #A26769;
    --nav-link-color: #FFFF;
    --nav-hover-link-color: #6D2E46;
    --nav-hover-background-color: #D5B9B2;
  }
html{
    background-color: var(--secondary-color);
}
header{
    display: block;
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
    margin:auto;
}
img{
    width: 200px;
    height: 400px;
}
section{
    display: grid;
    grid-column: 10% 90%;
    row-gap: 4px;
}
hr{
    grid-column: 0/3;
}
.heading{
    
    background-color:var(--primary-color);
    width: 80%;
    height: 150px;
    text-align: center;
    color: var(--paragraph-color-on-color);
    display: inline-block; 
    justify-content: center; 
    align-items: center;
    border-radius: 5px;
}

#icon img{
    width:200px;
    height: 50px;
}
.searchField{
    width: 500px;
}
@media (min-width: 32em) {

}

@media (min-width: 64em) {

}