@media all and (max-width: 600px) { 
  h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--accent2-color);
}
main{
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    margin: auto;
    margin-top: 30px;
    width: 80%;
    padding-bottom: 5%;
}

.hero {
	margin: 0px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 400px;
  max-width: 760px;
}

.hero img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Great Vibes", serif;
}

#list-members{
  display: flex;
  flex-direction: row;
}

#list-members img {
  max-width: 200px;
  max-height: 200px;
}

#title{
    grid-column: 1/3;
}


/* Hamburger codepen CSS */

.topnav a.icon {
  float: left;
  display: block;
}

.topnav.responsive {position: relative; }
.topnav.responsive .icon {
  align-items: center;
  justify-content: center;
}
.topnav .responsive li {
  display: block;
  text-align: center;
}
.topnav ul li:not(:first-child) {display: none;}

footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
#list-members{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#list-members img {
  max-width: fit-content;
  min-height: fit-content;
}

#header-content{
  padding: 10px;
  text-align: center;
}

#banner-box{
  width:100%;
  display: flex;
  text-align: center;
}

.action {
  background-color: rgba(240, 240, 240, 0.8);
  margin: 1em 3em;
  padding: 1em;
  margin: auto;
  width: 60%;
  line-height: 3em;
}

.action .contactbtn {
  line-height: 2em;
  text-align:center;
  width:300px;
  height:60px;
  background-color: var(--accent1-color);
  font-size: 1em;
  color:var(--accent2-color);
  font-weight:bold;
  border-radius:3px;
  border-style: none;
}

.events{
  height: 210px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.events h3{
  margin: auto;
  padding-left: 20px;
  font-size: 25px;
}

.events p{
  display: none;
}
.event img{
  margin: auto;
  width: 200px;
  height: 150px;
  margin-bottom: 30px;
  margin-top: 30px;
}

}
